body{
  margin: 0;
  padding:0;
  display: flex;
  justify-content: center;
  background-color: aqua;
}

.App {
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
  max-width: 900px;
  width: 90vw;
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  
}

.menu button{
  width: 100px;
  height: 100px;
  background-color: coral;
  color: white;
  font-size: 1.4em;
}



.letter-game{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.letter-game>h2, h3{
  font-size: 2rem;
}

.letter-game .choices {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 25px;
}

.letter-game .choices button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-size: 2rem;
}

.letter-game .choices button:hover{
  background-color: bisque;
  color: black;
}
.letter-game .result{
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 200px;
  height: 50px;
  border-radius: 8px;
}

.fade-out {
    opacity: 0;
    transition: opacity 2s linear;
}
